.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.flex-container div {
    display: flex;
}

.one{
    background-color: #1f2937;
    justify-content: center;
}

.two{
    background-color: white;
}

.three{
    background-color: #e5e7eb;
    padding: 128px;
    flex-direction: column;
}

.quote-content{
    text-align: center;
    font-size: 24px;
}

.quote-author{
    font-size: 18px;
    text-align: right;
}

.four{
    background-color: white;
}

.five{
    background-color: #1f2937;
    flex-direction: column;
}

.copyright{
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: Helvetica;
}