.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.flex-container div {
    display: flex;
}

.one{
    background-color: #1f2937;
    justify-content: center;
}

.two{
    background-color: white;
}

.three{
    background-color: #e5e7eb;
    padding: 128px;
    flex-direction: column;
}

.quote-content{
    text-align: center;
    font-size: 24px;
}

.quote-author{
    font-size: 18px;
    text-align: right;
}

.four{
    background-color: white;
    padding: 36px;
}

.call-to-action{
    border-radius: 25px;
    padding: 48px;
    border: 32px;
    margin: auto;
    width: 80%;
    color: white;
    font-family: Helvetica;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;

}
.left-text {
    display: flex;
    flex-direction: column;
}

.right-button{
    display: flex;
    justify-content: center;
    flex: 2 1 0%;
    border-radius: 15px;
    border-color: white;
}

.five{
    background-color: #1f2937;
    flex-direction: column;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Helvetica;
}

.copyright{
    text-align: center;
    font-size: 12px;
    justify-content: center;
}