.flex-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.flex-container div {
    display: flex;
}

.one{
    background-color: #1f2937;
    justify-content: center;
    font-family: Helvetica;
    font-weight: bold;
    padding: 32px;
    display: flex;
    color: white;
}

.header-logo {
    width: 50%;
    justify-content: center;
    align-content: center;
    display: flex;
}

.logo {
    height: 120px;
    width: 90px;
    border-radius: 100%;
}

.two{
    background-color: white;
}

.three{
    background-color: #e5e7eb;
    padding: 128px;
    flex-direction: column;
}

.quote-content{
    text-align: center;
    font-size: 24px;
}

.quote-author{
    font-size: 18px;
    text-align: right;
}

.four{
    background-color: white;
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.call-to-action{
    border-radius: 25px;
    padding: 48px;
    margin: auto;
    width: 70%;
    color: white;
    font-family: Helvetica;
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-text {
    display: flex;
    flex-direction: column;
    flex: 0.75 1 0%;
}

.right-button{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-grow: 0.2;
    border-radius: 10px;
    border: 2px solid white;
}

.five{
    background-color: #1f2937;
    flex-direction: column;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Helvetica;
}

.copyright{
    text-align: center;
    font-size: 16px;
}